/* GENERAL */
header,
main,
footer {
    width: 910px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.offset {
    position: absolute;
    top: -1000px;
}

/* HEADER */

header {
    height: 340px;
}

.contacts {
    margin-left: 5px;
    color: #5e696d;
    font-size: 1.1em;
}

.contacts::before {
    margin-right: 5px;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: '';
    background-image: url('../img/icons.png'), linear-gradient(#0c3256, #206988);
}

.hero {
    height: 237px;
    margin: 6px auto;
    background: url("../img/background.png") center center no-repeat;
}

.contacts,
.user,
.quick-access-icons,
.quick-access-icons > *,
.query,
.main-nav > a,
footer a {
    display: inline-block;
}

.user {
    margin-left: 10px;
    padding: 2px 7px 5px 3px;
    background: url('../img/icons.png'), linear-gradient(#206988, #0c3256);
    background-position: -100px 0;
    border-top: 1px solid #a6c3cf;
    border-bottom: 1px solid #4e647a;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 #959595;
}

.user > input[type=text],
.user > input[type=password] {
    height: 11px;
}

.user > a {
    display: inline-block;
    color: #fff;
    font-size: .7em;
    text-decoration: none;
}

.user > a:nth-child(4) { /* регистрация */
    height: 10px;
    padding-left: 5px;
    border-left: 1px solid #667c97;
    line-height: 7px;
}

.user > a:nth-child(5) { /* забыли пароль? */
    margin-left: 10px;
    padding-bottom: 1px;
    color: #B0B0B0;
    border-bottom: 1px solid #7b8c93;
}

.user > input[type=submit] {
    padding-right: 0;
    background-color: transparent;
    border: 0;
    color: #fff;
}

.login {
    margin-left: 22px;
}

.quick-access-icons {
    margin: 20px 2px 0 10px;
    padding: 0 7px 1px;
    border-radius: 13px;
    border: 1px solid #b8b7b7;
    box-shadow: 1px 2px 5px -2px #d5d5d5;
}

.home,
.sitemap,
.email {
    width: 14px;
    height: 14px;
    margin: 0 2px;
    background: url('../img/icons.png') -17px 0;
}

.sitemap {
    background-position: -32px 0;
}

.email {
    background-position: -46px 0;
}

.main-nav {
    height: 34px;
    padding: 2px;
    background: linear-gradient(#505860 10%, #464d54 5%, #3a4046 5%, #262a2d, #000);
    border-top: 1px solid #3c4367;
    border-bottom: 1px solid #0a1235;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 grey;
    box-sizing: border-box;
}

.main-nav > a {
    height: 27px;
    margin-top: 1px;
    padding: 5px 13px;
    color: #a0aeb8;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
}

.main-nav > a:first-child {
    margin-left: 15%;
}

.main-nav > a:hover {
    background: linear-gradient(#25617b, #0d365a);
    color: #fff;
    border-radius: 30px;
}

.bucket {
    margin: 9px 18px;
    float: right;
    color: #929b9f;
    font-size: .7em;
}

.bucket::before {
    float: left;
    width: 23px;
    height: 20px;
    content: '';
    background: url('../img/icons.png') -61px 0 no-repeat;
}

.nums {
    color: #226695;
}

.bucket > .nums:first-child {
    margin-right: 15px;
}

/* MAIN */

.query,
.aside-heading,
h3,
.showroom figure img {
    border: 1px solid #b2b0b0;
    border-radius: 15px;
}

.query {
    position: relative;
    height: 145px;
    margin: 0 8px;
    box-shadow: 3px 3px 5px 0px #888e95;
    font-size: .5em;
    font-weight: bold;
}

.query input[type=submit] {
    position: absolute;
    bottom: 7px;
    right: 5px;
    border: 0;
    background: transparent;
    font-size: 1.7em;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.search,
.catalog-item,
.showroom,
.partners {
    display: flex;
}

h3,
h4,
.auto legend,
.query input[type=submit],
.aside-heading {
    color: #105b87;
}

.auto label {
    width: 65px;
}

.tires label {
    width: 35px;
}

.disks label {
    width: 65px;
}

.search .query:first-child h4 {
    text-align: center;
}

h4 {
    margin: 3px 10px 5px;
    font-size: 13px;
}

fieldset {
    display: inline-block;
    border: 0;
}

fieldset > *,
.tires label {
    display: inline-block;
}

.auto {
    flex: 3 0 360px;
}

.auto fieldset > legend {
    position: absolute;
    top: 5px;
    margin: 5px;
}

.auto fieldset {
    width: 44%;
}

.auto fieldset:nth-child(3) > legend {  /* Поиск по автомобилю -> шины */
    right: 10px;
}

.auto select {
    width: 107px;
    margin-left: 3px;
}

.auto fieldset > select:nth-child(7) { /* Год выпуска автомобиля */
    width: 55px;
}

.auto fieldset > select:last-child {
    margin-top: 5px;
}

.minor-text {
    color: #767575;
    font-weight: normal;
}

.tires {
    flex: 1 0 140px;
    padding: 0 7px;
}

.r-size {
    text-align: right;
}

.season label {
    display: inline-block;
    width: 65px;
}

.season label:first-child {
    position: relative;
    top: 5px;
    width: 30px;
    height: 50px;
    float: left;
}

.season {
    margin-top: 5px;
}

.disks {
    flex: 2 0 250px;
}

.disks fieldset {
    display: inline-block;
    vertical-align: top;
    width: 41%;
}

.has-divider {
    border-left: 1px solid #dbd7d7;
    padding-left: 18px;
}

.has-divider label {
    width: 80px;
    margin-top: 5px;
}

.catalog-item > * {
    flex: 1 0 auto;
}

.aside-heading,
h3 {
    padding: 5px;
    font-weight: inherit;
    text-transform: uppercase;
    font-size: .9em;
}

.aside-heading {
    margin-top: 3px;
    box-shadow: 1px 2px 5px 0px #888e95;
}

h3::before {
    float: left;
    width: 11px;
    height: 11px;
    margin: 2px 8px 0px 2px;
    background: #fff;
    box-shadow: 0 0 0 5px #105b87;
    border-radius: 50%;
    content: '';
}

.aside-heading:before {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: '';
    background: #105b87 url('../img/icons.png') -83px 0;
    border-radius: 50%;
}

h3 {
    width: 130px;
}

.filter h3,
.filter input[type=submit] {
    margin-left: 20px;
}

.filter input[type=submit] {
    margin-top: 15px;
    padding: 6px 15px;
    background: linear-gradient(#206988, #0c3256);
    border-width: 1px;
    border-radius: 30px;
    color: #dbdedf;
    text-transform: uppercase;
}

.filter input[type=checkbox] {
    margin-right: 10px;
}

.showroom {
    margin: 0 10px;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 2;
    flex-basis: 60%;
    background: linear-gradient(#e4e7e8, #93a7b0);
    border-radius: 3px;
}

.catalog-item > nav > a,
.filter > form > * {
    display: block;
}

.catalog-item > nav > a,
.filter label {
    color: #888e95;
    font-size: 13px;
    margin: 10px 0 0 20px;
}

.catalog-item {
    margin-top: 17px;
}

.catalog-item > nav > a {
    text-decoration: none;
}

.catalog-item > nav > a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    color: #105b87;
}

.catalog-item > nav > a::before {
    float: left;
    margin: 3px;
    width: 3px;
    height: 3px;
    border: 2px solid #888e95;
    border-radius: 50%;
    content: '';
}

figure {
    margin: 15px;
    text-align: center;
}

figcaption {
    color: #206988;
}

.minor-title {
    color: #000;
    font-size: 12px;
}

.price {
    color: #00446c;
    font-style: italic;
    font-weight: bold;
}

.partners {
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.partners > a {
    margin: 7px;
}

/* FOOTER */

footer {
    margin: 0 auto;
    height: 70px;
    background-color: #213a4d;
    text-align: center;
}

.footer-nav {
    width: 70%;
    margin: 0 auto;
}

.footer-nav > a {
    margin: 10px 0;
    padding: 0 10px;
    border-right: 1px solid #e0e2e3;
    color: #e0e2e3;
    text-decoration: none;
    font-size: .8rem;
}

.footer-nav > a:last-child {
    border: 0;
}

.footer-nav > a:hover,
.footer-nav a.active {
    color: #66acc8;
}

.copy {
    margin-top: 5px;
    font-size: .5em;
    color: #9b4a4a;
}
