/* GENERAL */
header,
main,
footer {
    width: 910px;
    margin: 0 auto;
}

.offset {
    position: absolute;
    top: -1000px;
}

/* HEADER */

header {
    height: 300px;
}

.contacts::before {
    float: left;
    width: 15px;
    height: 18px;
    content: '';
    background-color: #dfdfdf;
    background-image: url('../img/icons.png');
}

.hero {
    height: 237px;
    background: url("../img/background.png") center center no-repeat;
}

.contacts,
.user,
.quick-access-icons,
.quick-access-icons > *,
.query {
    display: inline-block;
}

.user {
    background: url('../img/icons.png') -97px 0 no-repeat;
    background-color: darkblue;
}

.user > a {
    color: #fff;
}

.login {
    margin-left: 16px;
}

.home,
.sitemap,
.email {
    width: 14px;
    height: 14px;
    background: url('../img/icons.png') -13px 0;
}

.sitemap {
    background-position: -28px 0;
}

.email {
    background-position: -43px 0;
}

.bucket {
    float: right;
}

.bucket::before {
    float: left;
    width: 23px;
    height: 20px;
    content: '';
    background: url('../img/icons.png') -58px 0 no-repeat;
    background-color: #dfdfdf;
}

/* MAIN */
.query {
    border: 1px solid #cdcdcd;
}

.search,
.catalog-item,
.showroom,
.partners {
    display: flex;
}

.showroom {
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-item > * {
    flex: 1 0 auto;
}

.aside-heading:before {
    float: left;
    width: 15px;
    height: 18px;
    content: '';
    background: blue url('../img/icons.png') -83px 0;
}

.showroom {
    flex-grow: 2;
    flex-basis: 60%;
}

.catalog-item > nav > a,
.filter > form > * {
    display: block;
}

figure {
    margin: 15px;
}

.partners {
    justify-content: center;
    align-items: center;
}

/* FOOTER */
